#nav,
#footer,
.copyright {
  display: none;
}

.municipios {
  fill: #457b9d;
  stroke: #ffffff;
  /* stroke-width: 210px; */
  stroke-width: 3px;
  stroke-linecap: round;
  stroke-linejoin: round;
  cursor: pointer;
  transition: 0.5s;
  position: relative;
}

.municipios:hover {
  fill: #1d3557;
}

/* svg:hover .municipios {
  stroke-width: 3px;
} */

.logo img {
  height: 100%;
}

.municipios::before {
  content: "Barranquilla"; /* Texto a mostrar */
  position: absolute;
  top: -20px; /* Ajusta la posición vertical según sea necesario */
  left: 50%; /* Ajusta la posición horizontal según sea necesario */
  transform: translateX(-50%); /* Centra horizontalmente */
  background-color: #fff; /* Color de fondo */
  padding: 5px 10px; /* Espaciado interno */
  border: 1px solid #000; /* Borde */
  border-radius: 5px; /* Borde redondeado */
}

/* #suan,
#santa_lucia,
#campo_de_la_cruz,
#candelaria,
#manati,
#repelon,
#sabanalarga,
#ponedera,
#palmar,
#santo_tomas,
#sabanagrande,
#polonuevo,
#malambo,
#soledad,
#barranquilla,
#puerto_colombia,
#galapa,
#baranoa,
#tubara,
#juan_de_acosta,
#usiacuri,
#piojo,
#luruaco {
} */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #e5e5e5;
}

.nav_mobile {
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 10;
}

.nav_mobile ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  /* border-top: 3px solid black; */
  padding: 0.5em;
  background: #fff;
}

.nav_mobile ul li {
  border-radius: 50%;
  /* background: #39a900; */
  color: #555;
  width: 50px;
  height: 50px;
  display: grid;
  place-items: center;
  font-size: 1.25em;
  position: relative;
  transition: all 0.5s;
  cursor: pointer;
}

.nav_mobile ul li span {
  font-size: 11px;
}

.nav_mobile ul li:hover {
  color: #4272d7;
}

.active {
  color: #4272d7 !important;
}
