.contForm {
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
  width: 100%;
  height: auto;
  min-height: 100vh;
  background: #000000c9;
  backdrop-filter: blur(7px);
  transition: 0.25s;
  transform: scale(0);
  /* font-size: 10em; */
  color: #fff;
  z-index: 100;
  top: -40px;
  overflow-y: auto;
}

.closeFormEdit {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  color: #fff;
  background: none;
  border: 0;
}

.activeForm {
  transform: scale(1);
}
