* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../img/login_fondo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#nav,
#footer {
  display: none;
}

.container {
  display: grid;
  place-items: center;
  min-height: 100vh;
  /* background: linear-gradient(to bottom right, #44cc01, #1b4900); */
}

.cont_form {
  display: grid;
  place-items: center;
  width: 100%;
  max-width: 400px;
  height: 500px;
  background: #0000006e;
  backdrop-filter: blur(1px);
  border-radius: 0.75em;
  overflow: hidden;
}

.login_img {
  width: 440px;
  background: #0000006e;
  backdrop-filter: blur(10px);
  display: grid;
  place-items: center;
}

.login_img img {
  height: 400px;
  display: block;
}

.form {
  width: 360px;
  display: grid;
  place-content: center;
}

.form .title {
  width: max-content;
  position: relative;
  margin: auto;
  margin-bottom: 30px;
  /* text-transform: uppercase; */
  padding-bottom: 5px;
  font-size: 30px;
  color: #fff;
  /* border-bottom: 2px solid #fff; */
}

.form .title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  border-radius: 5px;
  background: linear-gradient(135deg, #a8dadc, #457b9d);
  transition: 0.5s;
}

.cont_input {
  position: relative;
  margin-bottom: 15px;
}

.cont_form .fa {
  position: absolute;
  left: 5px;
  bottom: 10px;
  color: #fff;
}

.cont_input label {
  display: block;
  margin-bottom: 0.25em;
  color: #fff;
}

.cont_input input {
  border: 0;
  color: #fff;
  border-bottom: 2px solid #fff;
  background: transparent;
  padding-bottom: 5px;
  padding-left: 1.5em;
  padding-top: 5px;
  outline: 0;
  width: 250px;
  font-size: 1em;
  transition: 0.5s;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.cont_input .login {
  padding: 0.5em 1em;
  border-radius: 0.25em;
  background: transparent;
  color: #fff;
  border: 2px solid #fff;
  font-size: 1em;
  cursor: pointer;
  transition: 0.5s;
  display: block;
  width: 100%;
}

.cont_input .login:hover {
  background: #fff;
  color: #000;
}

.cont_input p {
  color: #fff;
  text-align: center;
}

.cont_input a {
  color: aquamarine;
  position: relative;
}

.cont_input a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  border-radius: 5px;
  background: linear-gradient(135deg, #a8dadc, #457b9d);
  transition: 0.5s;
}

.cont_input:hover a::before {
  width: 100%;
}

.password p {
  text-align: right;
  margin-bottom: 15px;
}

.password a {
  font-size: 13px;
  color: #fff;
  transition: 0.25s;
}

.password a:hover {
  text-decoration: solid;
  color: aquamarine;
}
@media (max-width: 825px) {
  .cont_form {
    flex-direction: column;
    justify-content: center;
    max-width: 360px;
  }

  .login_img {
    display: none;
  }

  .form {
    width: 100%;
  }
}
