* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-image: url(../img/motor.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#nav,
#footer {
    display: none;
}

.container {
    display: grid;
    place-items: center;
    min-height: 100vh;
    /* background: linear-gradient(to bottom right, #44cc01, #1b4900); */
}

.cont_form {
    display: grid;
    place-items: center;
    width: 100%;
    max-width: 400px;
    height: 500px; 
    background: #0000006e;
    backdrop-filter: blur(3px); 
    border-radius: .75em;
    overflow: hidden;
}

.login_img {
    width: 440px;
    background: #0000006e;
    backdrop-filter: blur(10px);
    display: grid;
    place-items: center;
}

.login_img img {
    height: 400px;
    display: block;
}

.form {
    width: 360px;
    display: grid;
    place-content: center;
    gap: 2em;
}

.form .title {
    width: max-content;
    position: relative;
    margin: auto;
    padding-bottom: 5px;
    font-size: 30px;
    color: #fff;
    border-bottom: 3px solid #fff;
}
.cont_input {
    position: relative;
}

.cont_form .fa {
    position: absolute;
    left: 5px;
    bottom: 10px;
    color: #fff;
}


.cont_input label {
    display: block;
    margin-bottom: .25em;
    color: #fff;
}

.cont_input input {
    border: 0;
    color: #fff;
    border-bottom: 2px solid #fff;
    background: transparent;
    padding-bottom: 5px;
    padding-left: 1.5em;
    outline: 0;
    width: 250px;
    font-size: 1em;
    transition: .5s;
}

.cont_input .login {
    padding: 0.5em 1em;
    border-radius: 0.25em;
    background: transparent;
    color: #fff;
    border: 2px solid #fff;
    font-size: 1em;
    cursor: pointer;
    transition: .5s;
    display: block;
    width: 100%;
}

.cont_input .login:hover {
    background: #fff;
    color: #000;

}

.password a {
    padding-top: 20px;
    color: #fff;
}

@media (max-width:825px){
    .cont_form {
        flex-direction: column;
        justify-content: center;
        max-width: 360px;
    }

    .login_img{
        display: none;
    }

    .form {
        width: 100%;
    }
}