/* .grid-box {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, max-content);
  gap: 1.5em;
} */

.card {
  width: 190px;
  height: 254px;
  background: #f5f5f5;
  padding: 2rem 1.5rem;
  transition: box-shadow 0.3s ease, transform 0.2s ease;
}

.card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

/*Image*/
.card-avatar {
  --size: 60px;
  color: #766868;
  background: linear-gradient(to top, #a8dadc 50%, #457b9d 100%);
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  transition: transform 0.2s ease;
  margin-bottom: 1rem;
  display: grid;
  place-items: center;
}

.card-avatar .fa-user {
  font-size: 2em;
}

/*Card footer*/
.card-buttons {
  transform: translateY(200%);
  display: flex;
  justify-content: center;
  gap: 5px;
  width: 100%;
  opacity: 0;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.card-buttons__item {
  list-style: none;
}

.card-buttons__item button {
  background-color: #457b9d;
  color: #fff;
  border: none;
  padding: 2px 12px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.card-buttons__item button:hover {
  background-color: #1d3557;
}

/*Text*/
.card-title {
  color: #333;
  font-size: 1.25em;
  font-weight: 600;
  line-height: 1.5rem;
  text-align: center;
}

.card-subtitle {
  color: #859ba8;
  font-size: 0.8em;
}

/*Hover*/
.card:hover {
  box-shadow: 0 8px 50px #23232333;
}

.card:hover .card-info {
  transform: translateY(-5%);
}

.card:hover .card-buttons {
  transform: translateY(50%);
  opacity: 1;
}

/* .card-avatar:hover {
  transform: scale(1.1);
} */

.floating-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: #007bff;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  font-size: 24px;
  line-height: 50px;
  cursor: pointer;
}

@media (max-width: 968px) {
  .floating-button {
    bottom: 80px;
  }
}
