* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #e4e4e4;
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.charts {
  background: #fff;
  max-width: max-content;
  padding: 1em;
  border-radius: 10px;
}

.charts h2 {
  text-align: center;
}

.flex-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

#charts_div,
#Medidores {
  width: 100%;
  max-width: 500px;
  height: 250px;
}

@media (max-width: 850px) {
  .flex-box {
    flex-direction: column;
  }
}
